.ant-layout-header {
  display: flex;
  justify-content: center;
  height: auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.home img {
  width: 65%;
}

.home .ant-row {
  display: flex;
  align-items: center;
  width: 50%;
  padding-top: 20px;
}

.home .ant-badge-count {
  margin-top: -5px;
}
