.ant-layout-header {
  display: flex;
  justify-content: center;
  height: auto;
}

.home, .game {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.game {
  flex-direction: column;
  align-items: center;
}

.game .ant-row {
  width: 600px;
  height: 150px;
}
